* {
	-fx-font-family: "Consolas";
    -fx-font-size: 110%;
}

TextField {
    -fx-min-width: 80;
    -fx-max-width: 80;
}

ChoiceBox {
	-fx-min-width: 180;
}

#paramLine > * {
    -fx-border-color: rgb(150,150,150);
    -fx-border-radius: 3;
    -fx-border-width: 1;
}